<!DOCTYPE html>
<html>
<head>
        <title>Movie App</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<% include head %>
		<link rel="" type="" href="/stylesheets/style.css">
</head>
<body>
	<% include navbar %>
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<form id="search-form" class="form-inline" action="/search" method="post">
					<input type="text" placeholder="Movie Title" name="movieSearch" />
					<input type="text" placeholder="Actor Name" name="actorSearch" />
					<input type="submit" class="btn btn-primary" />
				</form>
			</div>
			<div class="col-sm-12">
				<% for(let i = 0; i < parsedData.length; i++){ %>
					<div class="col-sm-3">
						<a href="/movie/<%=parsedData[i].id%>">
							<img src="<%= imageBaseUrl + parsedData[i].poster_path %>" />
						</a>
					</div>
				<% } %>
			</div>
		</div>
	</div>
</body>
</html>

